<div class="border-b-orange-600" id="title">
    <h1 mat-dialog-title class="text-center">Đánh giá kinh nghiệm
    </h1>
</div>
<div class="hidden sm:block" aria-hidden="true">
    <div class="border-t border-gray-200"></div>
</div>

<mat-dialog-content class="mat-typography" >

  
</mat-dialog-content>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>
<div mat-dialog-actions class="flex flex-row-reverse">

    <button mat-button (click)="onNoClick()" class="bg-white
        hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4
        border
        border-gray-400 rounded shadow">Thoát</button>

</div>